flows.json
[{"id":"46b4a17e.15e4a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ec7f35ab.cc80c8","type":"ibmiot in","z":"46b4a17e.15e4a","authentication":"apiKey","apiKey":"ea9aae2.c9e4f5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberrypi","eventType":"DHT11","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":210,"y":200,"wires":[["ab517122.9da5d","acdbc99e.c69048","abfce520.4eeeb8","897d8187.e5bc1","3d61e704.afe078","b62779c.1e50088"]]},{"id":"ab517122.9da5d","type":"debug","z":"46b4a17e.15e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"acdbc99e.c69048","type":"function","z":"46b4a17e.15e4a","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["ab517122.9da5d","f79a710e.03a8e"]]},{"id":"abfce520.4eeeb8","type":"function","z":"46b4a17e.15e4a","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["ab517122.9da5d","c446c19b.b6d76"]]},{"id":"f79a710e.03a8e","type":"ui_gauge","z":"46b4a17e.15e4a","name":"","group":"707f28b4.983d28","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":80,"wires":[]},{"id":"c446c19b.b6d76","type":"ui_gauge","z":"46b4a17e.15e4a","name":"","group":"c569768a.cfa4d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":280,"wires":[]},{"id":"7b79ddc8.f5e3c4","type":"ibmiot out","z":"46b4a17e.15e4a","authentication":"apiKey","apiKey":"ea9aae2.c9e4f5","outputType":"cmd","deviceId":"12345","deviceType":"raspberrypi","eventCommandType":"DHT11","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":520,"wires":[]},{"id":"8d30ed7c.76af5","type":"ui_button","z":"46b4a17e.15e4a","name":"","group":"e52eaf0f.302ac","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":330,"y":480,"wires":[["7b79ddc8.f5e3c4","7ae76e0e.7aab2"]]},{"id":"f12d7409.3fde88","type":"ui_button","z":"46b4a17e.15e4a","name":"","group":"e1135ba3.b336d8","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":320,"y":540,"wires":[["7b79ddc8.f5e3c4","7ae76e0e.7aab2"]]},{"id":"7ae76e0e.7aab2","type":"debug","z":"46b4a17e.15e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"f6031663.667dc8","type":"function","z":"46b4a17e.15e4a","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":622,"wires":[["2bbed4b2.f03f7c","7b79ddc8.f5e3c4","7ae76e0e.7aab2"]]},{"id":"2bbed4b2.f03f7c","type":"http response","z":"46b4a17e.15e4a","name":"","statusCode":"","headers":{},"x":830,"y":620,"wires":[]},{"id":"94004893.e7c8d8","type":"http in","z":"46b4a17e.15e4a","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["f6031663.667dc8"]]},{"id":"6fe3dfe2.bd8c","type":"http in","z":"46b4a17e.15e4a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["78390b05.f66d94"]]},{"id":"90db921a.8f25d","type":"http response","z":"46b4a17e.15e4a","name":"","statusCode":"","headers":{},"x":510,"y":740,"wires":[]},{"id":"78390b05.f66d94","type":"function","z":"46b4a17e.15e4a","name":"mobile","func":"msg.payload={\"Temperature\":global.get(\"temperature\"),\"Humidity\":global.get(\"humidity\"),\"LDR\":global.get(\"LDR\"),\"IR\":global.get(\"IR\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":740,"wires":[["90db921a.8f25d"]]},{"id":"897d8187.e5bc1","type":"function","z":"46b4a17e.15e4a","name":"LDR","func":"global.set('LDR',msg.payload.LDR)\nmsg.payload=msg.payload.LDR\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["329b562e.185b6a","ab517122.9da5d"]]},{"id":"3d61e704.afe078","type":"function","z":"46b4a17e.15e4a","name":"IR","func":"global.set('IR',msg.payload.IR)\nmsg.payload=msg.payload.IR\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["7fee3bcb.cf3a34","ab517122.9da5d"]]},{"id":"329b562e.185b6a","type":"ui_gauge","z":"46b4a17e.15e4a","name":"","group":"3aa5a6e3.fa2bda","order":2,"width":0,"height":0,"gtype":"gage","title":"LDR","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":320,"wires":[]},{"id":"7fee3bcb.cf3a34","type":"ui_gauge","z":"46b4a17e.15e4a","name":"","group":"f869ea91.b18e68","order":0,"width":0,"height":0,"gtype":"gage","title":"IR","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":380,"wires":[]},{"id":"b62779c.1e50088","type":"cloudant out","z":"46b4a17e.15e4a","name":"database","cloudant":"","database":"riya","service":"node-red-gyaek-cloudant-1592849365097-55686","payonly":false,"operation":"insert","x":200,"y":340,"wires":[]},{"id":"ea9aae2.c9e4f5","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"m4xk0q.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"707f28b4.983d28","type":"ui_group","z":"","name":"Temperature","tab":"f9ffaa8c.62dfd8","order":6,"disp":true,"width":"6","collapse":false},{"id":"c569768a.cfa4d8","type":"ui_group","z":"","name":"HUmidity","tab":"f9ffaa8c.62dfd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e52eaf0f.302ac","type":"ui_group","z":"","name":"Motor ON","tab":"f9ffaa8c.62dfd8","order":7,"disp":true,"width":"6","collapse":false},{"id":"e1135ba3.b336d8","type":"ui_group","z":"","name":"Motor OFF","tab":"f9ffaa8c.62dfd8","order":8,"disp":true,"width":"6","collapse":false},{"id":"3aa5a6e3.fa2bda","type":"ui_group","z":"","name":"LDR","tab":"f9ffaa8c.62dfd8","order":4,"disp":true,"width":"6","collapse":false},{"id":"f869ea91.b18e68","type":"ui_group","z":"","name":"IR","tab":"f9ffaa8c.62dfd8","order":5,"disp":true,"width":"6","collapse":false},{"id":"f9ffaa8c.62dfd8","type":"ui_tab","z":"","name":"IoT Sensor","icon":"dashboard","disabled":false,"hidden":false}]